@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input[type="file"] {
    display: none;
  }
  
.butao:hover{
  text-decoration: underline;
  color: white;

}
  
body {
  align-items: center;
  background: #92857f;
  color: rgba(0, 0, 0, 0.8);
  display: grid;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 100vh;
  justify-items: center;
  weight: 100vw;
}

.menu {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #92857f;
  border-bottom: 2px solid #92857f;
}

.menu-item {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s;
  width: 100px;
  text-transform: uppercase;
  margin-left: 3px;
  font-weight: bold;
  text-align: center;
  margin-left: 3px;
}

.right-container {
    border: none;
    border-radius: 15px;
    background: #f9c7c2;
    display: grid;
    grid-template-areas: "." ".";
    width: 500px;
  }
  .right-container h1:nth-of-type(1) {
    color: rgba(0, 0, 0, 0.8);
    font-size: 28px;
    font-weight: 600;
  }
  .right-container .set {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  .right-container input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    height: 38px;
    line-height: 38px;
    padding-left: 5px;
  }
  .right-container input, .right-container label {
    color: rgba(0, 0, 0, 0.8);
  }
  .right-container header {
    padding: 40px;
  }
  .right-container label, .right-container input, .right-container .pets-photo {
    width: 176px;
  }
  .right-container .pets-photo {
    align-items: center;
    display: grid;
    grid-template-areas: ". .";
  }
  .right-container .pets-photo button {
    border: none;
    border-radius: 50%;
    height: 38px;
    margin-right: 10px;
    outline: none;
    width: 38px;
  }
  .right-container .pets-photo button i {
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
  }
  .right-container .pets-weight .radio-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .right-container footer {
    border: none;
    border-left: #171A2B;
    border-radius: 15px;
    align-items: center;
    background: #fff;
    display: grid;
    padding: 5px 40px;
    width: 100%;
    float: right;
  }
  .right-container footer button {
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 38px;
    line-height: 38px;
    width: 100px;
    border-radius: 19px;
    font-family: "Montserrat", sans-serif;
  }
  .right-container footer #next {
    background: #807182;
    border: 1px solid transparent;
    color: #fff;
  }
  .right-container footer #next:hover {
    background: #171A2B;
  }
  
  .pets-name label, .pets-breed label, .pets-birthday label, .pets-gender label, .pets-spayed-neutered label, .pets-weight label {
    display: block;
    margin-bottom: 5px;
  }
  
  .radio-container {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: inline-block;
    padding: 5px;
  }
  
  .radio-container label {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 2px;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: 0.2s all ease-in-out;
    width: 80px;
  }
  
  .radio-container input[type=radio] {
    display: none;
  }
  
  .radio-container input[type=radio]:checked + label {
    background: #F7B1AB;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }/*# sourceMappingURL=test.css.map */